<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>glass</key><string>&#xf000;</string>
<key>music</key><string>&#xf001;</string>
<key>search</key><string>&#xf002;</string>
<key>envelope-o</key><string>&#xf003;</string>
<key>heart</key><string>&#xf004;</string>
<key>star</key><string>&#xf005;</string>
<key>star-o</key><string>&#xf006;</string>
<key>user</key><string>&#xf007;</string>
<key>film</key><string>&#xf008;</string>
<key>th-large</key><string>&#xf009;</string>
<key>th</key><string>&#xf00a;</string>
<key>th-list</key><string>&#xf00b;</string>
<key>check</key><string>&#xf00c;</string>
<key>times</key><string>&#xf00d;</string>
<key>search-plus</key><string>&#xf00e;</string>
<key>search-minus</key><string>&#xf010;</string>
<key>power-off</key><string>&#xf011;</string>
<key>signal</key><string>&#xf012;</string>
<key>cog</key><string>&#xf013;</string>
<key>trash-o</key><string>&#xf014;</string>
<key>home</key><string>&#xf015;</string>
<key>file-o</key><string>&#xf016;</string>
<key>clock-o</key><string>&#xf017;</string>
<key>road</key><string>&#xf018;</string>
<key>download</key><string>&#xf019;</string>
<key>arrow-circle-o-down</key><string>&#xf01a;</string>
<key>arrow-circle-o-up</key><string>&#xf01b;</string>
<key>inbox</key><string>&#xf01c;</string>
<key>play-circle-o</key><string>&#xf01d;</string>
<key>repeat</key><string>&#xf01e;</string>
<key>refresh</key><string>&#xf021;</string>
<key>list-alt</key><string>&#xf022;</string>
<key>lock</key><string>&#xf023;</string>
<key>flag</key><string>&#xf024;</string>
<key>headphones</key><string>&#xf025;</string>
<key>volume-off</key><string>&#xf026;</string>
<key>volume-down</key><string>&#xf027;</string>
<key>volume-up</key><string>&#xf028;</string>
<key>qrcode</key><string>&#xf029;</string>
<key>barcode</key><string>&#xf02a;</string>
<key>tag</key><string>&#xf02b;</string>
<key>tags</key><string>&#xf02c;</string>
<key>book</key><string>&#xf02d;</string>
<key>bookmark</key><string>&#xf02e;</string>
<key>print</key><string>&#xf02f;</string>
<key>camera</key><string>&#xf030;</string>
<key>font</key><string>&#xf031;</string>
<key>bold</key><string>&#xf032;</string>
<key>italic</key><string>&#xf033;</string>
<key>text-height</key><string>&#xf034;</string>
<key>text-width</key><string>&#xf035;</string>
<key>align-left</key><string>&#xf036;</string>
<key>align-center</key><string>&#xf037;</string>
<key>align-right</key><string>&#xf038;</string>
<key>align-justify</key><string>&#xf039;</string>
<key>list</key><string>&#xf03a;</string>
<key>outdent</key><string>&#xf03b;</string>
<key>indent</key><string>&#xf03c;</string>
<key>video-camera</key><string>&#xf03d;</string>
<key>picture-o</key><string>&#xf03e;</string>
<key>pencil</key><string>&#xf040;</string>
<key>map-marker</key><string>&#xf041;</string>
<key>adjust</key><string>&#xf042;</string>
<key>tint</key><string>&#xf043;</string>
<key>pencil-square-o</key><string>&#xf044;</string>
<key>share-square-o</key><string>&#xf045;</string>
<key>check-square-o</key><string>&#xf046;</string>
<key>arrows</key><string>&#xf047;</string>
<key>step-backward</key><string>&#xf048;</string>
<key>fast-backward</key><string>&#xf049;</string>
<key>backward</key><string>&#xf04a;</string>
<key>play</key><string>&#xf04b;</string>
<key>pause</key><string>&#xf04c;</string>
<key>stop</key><string>&#xf04d;</string>
<key>forward</key><string>&#xf04e;</string>
<key>fast-forward</key><string>&#xf050;</string>
<key>step-forward</key><string>&#xf051;</string>
<key>eject</key><string>&#xf052;</string>
<key>chevron-left</key><string>&#xf053;</string>
<key>chevron-right</key><string>&#xf054;</string>
<key>plus-circle</key><string>&#xf055;</string>
<key>minus-circle</key><string>&#xf056;</string>
<key>times-circle</key><string>&#xf057;</string>
<key>check-circle</key><string>&#xf058;</string>
<key>question-circle</key><string>&#xf059;</string>
<key>info-circle</key><string>&#xf05a;</string>
<key>crosshairs</key><string>&#xf05b;</string>
<key>times-circle-o</key><string>&#xf05c;</string>
<key>check-circle-o</key><string>&#xf05d;</string>
<key>ban</key><string>&#xf05e;</string>
<key>arrow-left</key><string>&#xf060;</string>
<key>arrow-right</key><string>&#xf061;</string>
<key>arrow-up</key><string>&#xf062;</string>
<key>arrow-down</key><string>&#xf063;</string>
<key>share</key><string>&#xf064;</string>
<key>expand</key><string>&#xf065;</string>
<key>compress</key><string>&#xf066;</string>
<key>plus</key><string>&#xf067;</string>
<key>minus</key><string>&#xf068;</string>
<key>asterisk</key><string>&#xf069;</string>
<key>exclamation-circle</key><string>&#xf06a;</string>
<key>gift</key><string>&#xf06b;</string>
<key>leaf</key><string>&#xf06c;</string>
<key>fire</key><string>&#xf06d;</string>
<key>eye</key><string>&#xf06e;</string>
<key>eye-slash</key><string>&#xf070;</string>
<key>exclamation-triangle</key><string>&#xf071;</string>
<key>plane</key><string>&#xf072;</string>
<key>calendar</key><string>&#xf073;</string>
<key>random</key><string>&#xf074;</string>
<key>comment</key><string>&#xf075;</string>
<key>magnet</key><string>&#xf076;</string>
<key>chevron-up</key><string>&#xf077;</string>
<key>chevron-down</key><string>&#xf078;</string>
<key>retweet</key><string>&#xf079;</string>
<key>shopping-cart</key><string>&#xf07a;</string>
<key>folder</key><string>&#xf07b;</string>
<key>folder-open</key><string>&#xf07c;</string>
<key>arrows-v</key><string>&#xf07d;</string>
<key>arrows-h</key><string>&#xf07e;</string>
<key>bar-chart</key><string>&#xf080;</string>
<key>twitter-square</key><string>&#xf081;</string>
<key>facebook-square</key><string>&#xf082;</string>
<key>camera-retro</key><string>&#xf083;</string>
<key>key</key><string>&#xf084;</string>
<key>cogs</key><string>&#xf085;</string>
<key>comments</key><string>&#xf086;</string>
<key>thumbs-o-up</key><string>&#xf087;</string>
<key>thumbs-o-down</key><string>&#xf088;</string>
<key>star-half</key><string>&#xf089;</string>
<key>heart-o</key><string>&#xf08a;</string>
<key>sign-out</key><string>&#xf08b;</string>
<key>linkedin-square</key><string>&#xf08c;</string>
<key>thumb-tack</key><string>&#xf08d;</string>
<key>external-link</key><string>&#xf08e;</string>
<key>sign-in</key><string>&#xf090;</string>
<key>trophy</key><string>&#xf091;</string>
<key>github-square</key><string>&#xf092;</string>
<key>upload</key><string>&#xf093;</string>
<key>lemon-o</key><string>&#xf094;</string>
<key>phone</key><string>&#xf095;</string>
<key>square-o</key><string>&#xf096;</string>
<key>bookmark-o</key><string>&#xf097;</string>
<key>phone-square</key><string>&#xf098;</string>
<key>twitter</key><string>&#xf099;</string>
<key>facebook</key><string>&#xf09a;</string>
<key>github</key><string>&#xf09b;</string>
<key>unlock</key><string>&#xf09c;</string>
<key>credit-card</key><string>&#xf09d;</string>
<key>rss</key><string>&#xf09e;</string>
<key>hdd-o</key><string>&#xf0a0;</string>
<key>bullhorn</key><string>&#xf0a1;</string>
<key>bell</key><string>&#xf0f3;</string>
<key>certificate</key><string>&#xf0a3;</string>
<key>hand-o-right</key><string>&#xf0a4;</string>
<key>hand-o-left</key><string>&#xf0a5;</string>
<key>hand-o-up</key><string>&#xf0a6;</string>
<key>hand-o-down</key><string>&#xf0a7;</string>
<key>arrow-circle-left</key><string>&#xf0a8;</string>
<key>arrow-circle-right</key><string>&#xf0a9;</string>
<key>arrow-circle-up</key><string>&#xf0aa;</string>
<key>arrow-circle-down</key><string>&#xf0ab;</string>
<key>globe</key><string>&#xf0ac;</string>
<key>wrench</key><string>&#xf0ad;</string>
<key>tasks</key><string>&#xf0ae;</string>
<key>filter</key><string>&#xf0b0;</string>
<key>briefcase</key><string>&#xf0b1;</string>
<key>arrows-alt</key><string>&#xf0b2;</string>
<key>users</key><string>&#xf0c0;</string>
<key>link</key><string>&#xf0c1;</string>
<key>cloud</key><string>&#xf0c2;</string>
<key>flask</key><string>&#xf0c3;</string>
<key>scissors</key><string>&#xf0c4;</string>
<key>files-o</key><string>&#xf0c5;</string>
<key>paperclip</key><string>&#xf0c6;</string>
<key>floppy-o</key><string>&#xf0c7;</string>
<key>square</key><string>&#xf0c8;</string>
<key>bars</key><string>&#xf0c9;</string>
<key>list-ul</key><string>&#xf0ca;</string>
<key>list-ol</key><string>&#xf0cb;</string>
<key>strikethrough</key><string>&#xf0cc;</string>
<key>underline</key><string>&#xf0cd;</string>
<key>table</key><string>&#xf0ce;</string>
<key>magic</key><string>&#xf0d0;</string>
<key>truck</key><string>&#xf0d1;</string>
<key>pinterest</key><string>&#xf0d2;</string>
<key>pinterest-square</key><string>&#xf0d3;</string>
<key>google-plus-square</key><string>&#xf0d4;</string>
<key>google-plus</key><string>&#xf0d5;</string>
<key>money</key><string>&#xf0d6;</string>
<key>caret-down</key><string>&#xf0d7;</string>
<key>caret-up</key><string>&#xf0d8;</string>
<key>caret-left</key><string>&#xf0d9;</string>
<key>caret-right</key><string>&#xf0da;</string>
<key>columns</key><string>&#xf0db;</string>
<key>sort</key><string>&#xf0dc;</string>
<key>sort-desc</key><string>&#xf0dd;</string>
<key>sort-asc</key><string>&#xf0de;</string>
<key>envelope</key><string>&#xf0e0;</string>
<key>linkedin</key><string>&#xf0e1;</string>
<key>undo</key><string>&#xf0e2;</string>
<key>gavel</key><string>&#xf0e3;</string>
<key>tachometer</key><string>&#xf0e4;</string>
<key>comment-o</key><string>&#xf0e5;</string>
<key>comments-o</key><string>&#xf0e6;</string>
<key>bolt</key><string>&#xf0e7;</string>
<key>sitemap</key><string>&#xf0e8;</string>
<key>umbrella</key><string>&#xf0e9;</string>
<key>clipboard</key><string>&#xf0ea;</string>
<key>lightbulb-o</key><string>&#xf0eb;</string>
<key>exchange</key><string>&#xf0ec;</string>
<key>cloud-download</key><string>&#xf0ed;</string>
<key>cloud-upload</key><string>&#xf0ee;</string>
<key>user-md</key><string>&#xf0f0;</string>
<key>stethoscope</key><string>&#xf0f1;</string>
<key>suitcase</key><string>&#xf0f2;</string>
<key>bell-o</key><string>&#xf0a2;</string>
<key>coffee</key><string>&#xf0f4;</string>
<key>cutlery</key><string>&#xf0f5;</string>
<key>file-text-o</key><string>&#xf0f6;</string>
<key>building-o</key><string>&#xf0f7;</string>
<key>hospital-o</key><string>&#xf0f8;</string>
<key>ambulance</key><string>&#xf0f9;</string>
<key>medkit</key><string>&#xf0fa;</string>
<key>fighter-jet</key><string>&#xf0fb;</string>
<key>beer</key><string>&#xf0fc;</string>
<key>h-square</key><string>&#xf0fd;</string>
<key>plus-square</key><string>&#xf0fe;</string>
<key>angle-double-left</key><string>&#xf100;</string>
<key>angle-double-right</key><string>&#xf101;</string>
<key>angle-double-up</key><string>&#xf102;</string>
<key>angle-double-down</key><string>&#xf103;</string>
<key>angle-left</key><string>&#xf104;</string>
<key>angle-right</key><string>&#xf105;</string>
<key>angle-up</key><string>&#xf106;</string>
<key>angle-down</key><string>&#xf107;</string>
<key>desktop</key><string>&#xf108;</string>
<key>laptop</key><string>&#xf109;</string>
<key>tablet</key><string>&#xf10a;</string>
<key>mobile</key><string>&#xf10b;</string>
<key>circle-o</key><string>&#xf10c;</string>
<key>quote-left</key><string>&#xf10d;</string>
<key>quote-right</key><string>&#xf10e;</string>
<key>spinner</key><string>&#xf110;</string>
<key>circle</key><string>&#xf111;</string>
<key>reply</key><string>&#xf112;</string>
<key>github-alt</key><string>&#xf113;</string>
<key>folder-o</key><string>&#xf114;</string>
<key>folder-open-o</key><string>&#xf115;</string>
<key>smile-o</key><string>&#xf118;</string>
<key>frown-o</key><string>&#xf119;</string>
<key>meh-o</key><string>&#xf11a;</string>
<key>gamepad</key><string>&#xf11b;</string>
<key>keyboard-o</key><string>&#xf11c;</string>
<key>flag-o</key><string>&#xf11d;</string>
<key>flag-checkered</key><string>&#xf11e;</string>
<key>terminal</key><string>&#xf120;</string>
<key>code</key><string>&#xf121;</string>
<key>reply-all</key><string>&#xf122;</string>
<key>star-half-o</key><string>&#xf123;</string>
<key>location-arrow</key><string>&#xf124;</string>
<key>crop</key><string>&#xf125;</string>
<key>code-fork</key><string>&#xf126;</string>
<key>chain-broken</key><string>&#xf127;</string>
<key>question</key><string>&#xf128;</string>
<key>info</key><string>&#xf129;</string>
<key>exclamation</key><string>&#xf12a;</string>
<key>superscript</key><string>&#xf12b;</string>
<key>subscript</key><string>&#xf12c;</string>
<key>eraser</key><string>&#xf12d;</string>
<key>puzzle-piece</key><string>&#xf12e;</string>
<key>microphone</key><string>&#xf130;</string>
<key>microphone-slash</key><string>&#xf131;</string>
<key>shield</key><string>&#xf132;</string>
<key>calendar-o</key><string>&#xf133;</string>
<key>fire-extinguisher</key><string>&#xf134;</string>
<key>rocket</key><string>&#xf135;</string>
<key>maxcdn</key><string>&#xf136;</string>
<key>chevron-circle-left</key><string>&#xf137;</string>
<key>chevron-circle-right</key><string>&#xf138;</string>
<key>chevron-circle-up</key><string>&#xf139;</string>
<key>chevron-circle-down</key><string>&#xf13a;</string>
<key>html5</key><string>&#xf13b;</string>
<key>css3</key><string>&#xf13c;</string>
<key>anchor</key><string>&#xf13d;</string>
<key>unlock-alt</key><string>&#xf13e;</string>
<key>bullseye</key><string>&#xf140;</string>
<key>ellipsis-h</key><string>&#xf141;</string>
<key>ellipsis-v</key><string>&#xf142;</string>
<key>rss-square</key><string>&#xf143;</string>
<key>play-circle</key><string>&#xf144;</string>
<key>ticket</key><string>&#xf145;</string>
<key>minus-square</key><string>&#xf146;</string>
<key>minus-square-o</key><string>&#xf147;</string>
<key>level-up</key><string>&#xf148;</string>
<key>level-down</key><string>&#xf149;</string>
<key>check-square</key><string>&#xf14a;</string>
<key>pencil-square</key><string>&#xf14b;</string>
<key>external-link-square</key><string>&#xf14c;</string>
<key>share-square</key><string>&#xf14d;</string>
<key>compass</key><string>&#xf14e;</string>
<key>caret-square-o-down</key><string>&#xf150;</string>
<key>caret-square-o-up</key><string>&#xf151;</string>
<key>caret-square-o-right</key><string>&#xf152;</string>
<key>eur</key><string>&#xf153;</string>
<key>gbp</key><string>&#xf154;</string>
<key>usd</key><string>&#xf155;</string>
<key>inr</key><string>&#xf156;</string>
<key>jpy</key><string>&#xf157;</string>
<key>rub</key><string>&#xf158;</string>
<key>krw</key><string>&#xf159;</string>
<key>btc</key><string>&#xf15a;</string>
<key>file</key><string>&#xf15b;</string>
<key>file-text</key><string>&#xf15c;</string>
<key>sort-alpha-asc</key><string>&#xf15d;</string>
<key>sort-alpha-desc</key><string>&#xf15e;</string>
<key>sort-amount-asc</key><string>&#xf160;</string>
<key>sort-amount-desc</key><string>&#xf161;</string>
<key>sort-numeric-asc</key><string>&#xf162;</string>
<key>sort-numeric-desc</key><string>&#xf163;</string>
<key>thumbs-up</key><string>&#xf164;</string>
<key>thumbs-down</key><string>&#xf165;</string>
<key>youtube-square</key><string>&#xf166;</string>
<key>youtube</key><string>&#xf167;</string>
<key>xing</key><string>&#xf168;</string>
<key>xing-square</key><string>&#xf169;</string>
<key>youtube-play</key><string>&#xf16a;</string>
<key>dropbox</key><string>&#xf16b;</string>
<key>stack-overflow</key><string>&#xf16c;</string>
<key>instagram</key><string>&#xf16d;</string>
<key>flickr</key><string>&#xf16e;</string>
<key>adn</key><string>&#xf170;</string>
<key>bitbucket</key><string>&#xf171;</string>
<key>bitbucket-square</key><string>&#xf172;</string>
<key>tumblr</key><string>&#xf173;</string>
<key>tumblr-square</key><string>&#xf174;</string>
<key>long-arrow-down</key><string>&#xf175;</string>
<key>long-arrow-up</key><string>&#xf176;</string>
<key>long-arrow-left</key><string>&#xf177;</string>
<key>long-arrow-right</key><string>&#xf178;</string>
<key>apple</key><string>&#xf179;</string>
<key>windows</key><string>&#xf17a;</string>
<key>android</key><string>&#xf17b;</string>
<key>linux</key><string>&#xf17c;</string>
<key>dribbble</key><string>&#xf17d;</string>
<key>skype</key><string>&#xf17e;</string>
<key>foursquare</key><string>&#xf180;</string>
<key>trello</key><string>&#xf181;</string>
<key>female</key><string>&#xf182;</string>
<key>male</key><string>&#xf183;</string>
<key>gratipay</key><string>&#xf184;</string>
<key>sun-o</key><string>&#xf185;</string>
<key>moon-o</key><string>&#xf186;</string>
<key>archive</key><string>&#xf187;</string>
<key>bug</key><string>&#xf188;</string>
<key>vk</key><string>&#xf189;</string>
<key>weibo</key><string>&#xf18a;</string>
<key>renren</key><string>&#xf18b;</string>
<key>pagelines</key><string>&#xf18c;</string>
<key>stack-exchange</key><string>&#xf18d;</string>
<key>arrow-circle-o-right</key><string>&#xf18e;</string>
<key>arrow-circle-o-left</key><string>&#xf190;</string>
<key>caret-square-o-left</key><string>&#xf191;</string>
<key>dot-circle-o</key><string>&#xf192;</string>
<key>wheelchair</key><string>&#xf193;</string>
<key>vimeo-square</key><string>&#xf194;</string>
<key>try</key><string>&#xf195;</string>
<key>plus-square-o</key><string>&#xf196;</string>
<key>space-shuttle</key><string>&#xf197;</string>
<key>slack</key><string>&#xf198;</string>
<key>envelope-square</key><string>&#xf199;</string>
<key>wordpress</key><string>&#xf19a;</string>
<key>openid</key><string>&#xf19b;</string>
<key>university</key><string>&#xf19c;</string>
<key>graduation-cap</key><string>&#xf19d;</string>
<key>yahoo</key><string>&#xf19e;</string>
<key>google</key><string>&#xf1a0;</string>
<key>reddit</key><string>&#xf1a1;</string>
<key>reddit-square</key><string>&#xf1a2;</string>
<key>stumbleupon-circle</key><string>&#xf1a3;</string>
<key>stumbleupon</key><string>&#xf1a4;</string>
<key>delicious</key><string>&#xf1a5;</string>
<key>digg</key><string>&#xf1a6;</string>
<key>pied-piper</key><string>&#xf1a7;</string>
<key>pied-piper-alt</key><string>&#xf1a8;</string>
<key>drupal</key><string>&#xf1a9;</string>
<key>joomla</key><string>&#xf1aa;</string>
<key>language</key><string>&#xf1ab;</string>
<key>fax</key><string>&#xf1ac;</string>
<key>building</key><string>&#xf1ad;</string>
<key>child</key><string>&#xf1ae;</string>
<key>paw</key><string>&#xf1b0;</string>
<key>spoon</key><string>&#xf1b1;</string>
<key>cube</key><string>&#xf1b2;</string>
<key>cubes</key><string>&#xf1b3;</string>
<key>behance</key><string>&#xf1b4;</string>
<key>behance-square</key><string>&#xf1b5;</string>
<key>steam</key><string>&#xf1b6;</string>
<key>steam-square</key><string>&#xf1b7;</string>
<key>recycle</key><string>&#xf1b8;</string>
<key>car</key><string>&#xf1b9;</string>
<key>taxi</key><string>&#xf1ba;</string>
<key>tree</key><string>&#xf1bb;</string>
<key>spotify</key><string>&#xf1bc;</string>
<key>deviantart</key><string>&#xf1bd;</string>
<key>soundcloud</key><string>&#xf1be;</string>
<key>database</key><string>&#xf1c0;</string>
<key>file-pdf-o</key><string>&#xf1c1;</string>
<key>file-word-o</key><string>&#xf1c2;</string>
<key>file-excel-o</key><string>&#xf1c3;</string>
<key>file-powerpoint-o</key><string>&#xf1c4;</string>
<key>file-image-o</key><string>&#xf1c5;</string>
<key>file-archive-o</key><string>&#xf1c6;</string>
<key>file-audio-o</key><string>&#xf1c7;</string>
<key>file-video-o</key><string>&#xf1c8;</string>
<key>file-code-o</key><string>&#xf1c9;</string>
<key>vine</key><string>&#xf1ca;</string>
<key>codepen</key><string>&#xf1cb;</string>
<key>jsfiddle</key><string>&#xf1cc;</string>
<key>life-ring</key><string>&#xf1cd;</string>
<key>circle-o-notch</key><string>&#xf1ce;</string>
<key>rebel</key><string>&#xf1d0;</string>
<key>empire</key><string>&#xf1d1;</string>
<key>git-square</key><string>&#xf1d2;</string>
<key>git</key><string>&#xf1d3;</string>
<key>hacker-news</key><string>&#xf1d4;</string>
<key>tencent-weibo</key><string>&#xf1d5;</string>
<key>qq</key><string>&#xf1d6;</string>
<key>weixin</key><string>&#xf1d7;</string>
<key>paper-plane</key><string>&#xf1d8;</string>
<key>paper-plane-o</key><string>&#xf1d9;</string>
<key>history</key><string>&#xf1da;</string>
<key>circle-thin</key><string>&#xf1db;</string>
<key>header</key><string>&#xf1dc;</string>
<key>paragraph</key><string>&#xf1dd;</string>
<key>sliders</key><string>&#xf1de;</string>
<key>share-alt</key><string>&#xf1e0;</string>
<key>share-alt-square</key><string>&#xf1e1;</string>
<key>bomb</key><string>&#xf1e2;</string>
<key>futbol-o</key><string>&#xf1e3;</string>
<key>tty</key><string>&#xf1e4;</string>
<key>binoculars</key><string>&#xf1e5;</string>
<key>plug</key><string>&#xf1e6;</string>
<key>slideshare</key><string>&#xf1e7;</string>
<key>twitch</key><string>&#xf1e8;</string>
<key>yelp</key><string>&#xf1e9;</string>
<key>newspaper-o</key><string>&#xf1ea;</string>
<key>wifi</key><string>&#xf1eb;</string>
<key>calculator</key><string>&#xf1ec;</string>
<key>paypal</key><string>&#xf1ed;</string>
<key>google-wallet</key><string>&#xf1ee;</string>
<key>cc-visa</key><string>&#xf1f0;</string>
<key>cc-mastercard</key><string>&#xf1f1;</string>
<key>cc-discover</key><string>&#xf1f2;</string>
<key>cc-amex</key><string>&#xf1f3;</string>
<key>cc-paypal</key><string>&#xf1f4;</string>
<key>cc-stripe</key><string>&#xf1f5;</string>
<key>bell-slash</key><string>&#xf1f6;</string>
<key>bell-slash-o</key><string>&#xf1f7;</string>
<key>trash</key><string>&#xf1f8;</string>
<key>copyright</key><string>&#xf1f9;</string>
<key>at</key><string>&#xf1fa;</string>
<key>eyedropper</key><string>&#xf1fb;</string>
<key>paint-brush</key><string>&#xf1fc;</string>
<key>birthday-cake</key><string>&#xf1fd;</string>
<key>area-chart</key><string>&#xf1fe;</string>
<key>pie-chart</key><string>&#xf200;</string>
<key>line-chart</key><string>&#xf201;</string>
<key>lastfm</key><string>&#xf202;</string>
<key>lastfm-square</key><string>&#xf203;</string>
<key>toggle-off</key><string>&#xf204;</string>
<key>toggle-on</key><string>&#xf205;</string>
<key>bicycle</key><string>&#xf206;</string>
<key>bus</key><string>&#xf207;</string>
<key>ioxhost</key><string>&#xf208;</string>
<key>angellist</key><string>&#xf209;</string>
<key>cc</key><string>&#xf20a;</string>
<key>ils</key><string>&#xf20b;</string>
<key>meanpath</key><string>&#xf20c;</string>
<key>buysellads</key><string>&#xf20d;</string>
<key>connectdevelop</key><string>&#xf20e;</string>
<key>dashcube</key><string>&#xf210;</string>
<key>forumbee</key><string>&#xf211;</string>
<key>leanpub</key><string>&#xf212;</string>
<key>sellsy</key><string>&#xf213;</string>
<key>shirtsinbulk</key><string>&#xf214;</string>
<key>simplybuilt</key><string>&#xf215;</string>
<key>skyatlas</key><string>&#xf216;</string>
<key>cart-plus</key><string>&#xf217;</string>
<key>cart-arrow-down</key><string>&#xf218;</string>
<key>diamond</key><string>&#xf219;</string>
<key>ship</key><string>&#xf21a;</string>
<key>user-secret</key><string>&#xf21b;</string>
<key>motorcycle</key><string>&#xf21c;</string>
<key>street-view</key><string>&#xf21d;</string>
<key>heartbeat</key><string>&#xf21e;</string>
<key>venus</key><string>&#xf221;</string>
<key>mars</key><string>&#xf222;</string>
<key>mercury</key><string>&#xf223;</string>
<key>transgender</key><string>&#xf224;</string>
<key>transgender-alt</key><string>&#xf225;</string>
<key>venus-double</key><string>&#xf226;</string>
<key>mars-double</key><string>&#xf227;</string>
<key>venus-mars</key><string>&#xf228;</string>
<key>mars-stroke</key><string>&#xf229;</string>
<key>mars-stroke-v</key><string>&#xf22a;</string>
<key>mars-stroke-h</key><string>&#xf22b;</string>
<key>neuter</key><string>&#xf22c;</string>
<key>facebook-official</key><string>&#xf230;</string>
<key>pinterest-p</key><string>&#xf231;</string>
<key>whatsapp</key><string>&#xf232;</string>
<key>server</key><string>&#xf233;</string>
<key>user-plus</key><string>&#xf234;</string>
<key>user-times</key><string>&#xf235;</string>
<key>bed</key><string>&#xf236;</string>
<key>viacoin</key><string>&#xf237;</string>
<key>train</key><string>&#xf238;</string>
<key>subway</key><string>&#xf239;</string>
<key>medium</key><string>&#xf23a;</string>
</dict></plist>
