<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>2</string>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>20</string>
				<string>30</string>
				<string>50</string>
			</array>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>50</integer>
			</array>
			<key>Key</key>
			<string>livestreams</string>
			<key>Title</key>
			<string># of live streams</string>
			<key>DefaultValue</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
